:root {
    --peach: rgb(255, 95, 109);
    --orange: rgb(255, 195, 113);
    --grey: rgba(255, 255, 255, 0.17);
    --swamp: rgba(238, 247, 181, 0.41961);
    --off-white: rgba(255, 255, 255, 0.38);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(-45deg, var(--peach), var(--orange)) 0% 0% / cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.card {
    background: var(--swamp);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    position: relative;
    overflow: hidden
}

.card:hover .cardDate,
.card:focus .cardDate {
    color: var(--off-white);
    top: 10px;
}

.cardHeading {
    margin: 0 0 1rem 0;
    position: relative;
}

.cardTeaser {
    margin-bottom: 0;
    position: relative;
}

.cardDate {
    color: var(--grey);
    font-size: 120px;
    position: absolute;
    right: 0;
    top: 15px;
    transition: color 0.15s ease-in-out, top 0.15s ease-in-out;
}
